<section class="collections-container main-content">
	<h1>Collections <a class="new-btn button" href="/admin/collections/new">New</a></h1>

	<div class="collections">
		{{#each data}}
			<div class="collection card">
				<h2><a href="/admin/collections/{{collectionSlug}}">{{collectionName}}</a></h2>
				<ul class="schema">
					<h3>Fields</h3>
					{{#each fields}}
						<li>{{name}}: {{type}}</li>
					{{/each}}
				</ul>
				<p class="edit-link"><a href="/admin/collections/edit/{{collectionSlug}}">Edit</a></p>
			</div>
		{{else}}
			<p>No collections created yet. Perhaps you want to click <a href="/admin/collections/new">here</a> to create a new collection?</p>
		{{/each}}
	</div>
</section>