<section class="collections-container main-content">
	<h1>Collections</h1>

	<div class="collections">
		{{#each data}}
			<div class="collection">
				<h2><a href="{{collectionSlug}}">{{collectionName}}</a></h2>
				<ul>
				<h3>Fields</h3>
				{{#each fields}}
					<li>{{name}}: {{type}}</li>
				{{/each}}
				</il>
				<p><a href="edit/{{collectionSlug}}">Edit</a></p>
			</div>
		{{else}}
			<p>No collections created yet. Perhaps you want to click <a href="collections/new">here</a> to create a new collection?</p>
		{{/each}}
	</div>
</section>