<section class="model-creation main-content">
	<h1>New {{ collectionName }}</h1>

	<form method="post" action="/admin/collections/{{collectionSlug}}/new" class="model-form" enctype="multipart/form-data">
		{{#each fields}}
			<p>
			<label for="{{slug}}">{{name}}</label><br>
			{{#ifEquals type "text" }}
				<input type="text" name="{{slug}}">
			{{/ifEquals}}

			{{#ifEquals type "wysiwyg"}}
				<textarea name="{{slug}}" class="wysiwyg-editor"></textarea>
			{{/ifEquals}}

			{{#ifEquals type "email"}}
				<input type="email" name="{{slug}}">
			{{/ifEquals}}

			{{#ifEquals type "checkbox"}}
				{{#each properties.choices}}
					<input type="checkbox" name="{{../slug}}" value="{{this}}"> {{@key}}<br>
				{{/each}}
			{{/ifEquals}}

			{{#ifEquals type "radio"}}
				{{#each properties.choices}}
					<input type="radio" name="{{../slug}}" value="{{this}}"> {{@key}}<br>
				{{/each}}
			{{/ifEquals}}

			{{#ifEquals type "image"}}
				<input type="file" name="{{slug}}">
			{{/ifEquals}}
			</p>
		{{/each}}

		<p class="submit"><input type="submit" value="Save"></p>
	</form>
</section>