<section class="edit-collection main-content">
	<h1>Collections</h1>

	<h2>Edit {{collectionName}}</h2>

	<form method="post" action="/admin/schema/edit/{{collectionSlug}}" class="schema-definition"  enctype="multipart/form-data" data-collection-name="{{collectionName}}">
		<legend>
			<span>Name</span><span>Type</span>
		</legend>

		{{#each fields}}
		<div class="field">
			<span><input class="name-field" name="name-{{@index}}" type="text" value="{{name}}"></span>
			<span><select class="type-field" name="type-{{@index}}">
				<option {{#ifEquals type "wysiwyg"}}selected{{/ifEquals}} value="wysiwyg">WYSIWYG</option>
				<option {{#ifEquals type "text"}}selected{{/ifEquals}} value="text">Text</option>
				<option {{#ifEquals type "email"}}selected{{/ifEquals}} value="email">Email</option>
				<option {{#ifEquals type "checkbox"}}selected{{/ifEquals}} value="checkbox">Checkbox</option>
				<option {{#ifEquals type "radio"}}selected{{/ifEquals}} value="radio">Radio buttons</option>
				<option {{#ifEquals type "image"}}selected{{/ifEquals}} value="image">Image</option>
			</select></span>
			<span><i class="fa fa-plus-circle schema-add" aria-hidden="true"></i></span>
			<span><i class="fa fa-minus-circle schema-remove" aria-hidden="true"></i></span>
			{{#ifEquals type "checkbox"}}
			<div class="choices">
				<textarea name="option-{{@index}}" rows="5" columns="50">{{#each properties.choices}}{{@key}}:{{this}}{{#lenEq ../properties.choices @index}}{{else}}&#13;&#10;{{/lenEq}}{{/each}}</textarea>
			</div>
			{{/ifEquals}}
			{{#ifEquals type "radio"}}
			<div class="choices">
				<textarea name="option-{{@index}}" rows="5" columns="50">{{#each properties.choices}}{{@key}}:{{this}}{{#lenEq ../properties.choices @index}}{{else}}&#13;&#10;{{/lenEq}}{{/each}}</textarea>
			</div>
			{{/ifEquals}}
		</div>
		{{/each}}
		<p class="submit"><input type="submit" value="Save"></p>
	</form>
</section>