<section class="edit-model main-content">
	<h1>Edit {{ collectionName }} ID {{_uid}}</h1>

	<form method="post" action="/admin/collections/{{collectionSlug}}/{{_uid}}/edit" class="model-form" enctype="multipart/form-data">
		{{#each schema.fields}}
			<p>
			<label for="{{slug}}">{{name}}</label><br>
			{{#ifEquals type "text" }}
				<input type="text" name="{{slug}}" value="{{value}}">
			{{/ifEquals}}

			{{#ifEquals type "wysiwyg"}}
				<textarea name="{{slug}}" class="wysiwyg-editor">{{value}}</textarea>
			{{/ifEquals}}

			{{#ifEquals type "email"}}
				<input type="email" name="{{slug}}" value="{{value}}">
			{{/ifEquals}}

			{{#ifEquals type "checkbox"}}
				{{#each properties.choices}}
					<input type="checkbox" name="{{../slug}}" value="{{this}}" {{#ifContains ../value this}}checked{{/ifContains}}> {{@key}}<br>
				{{/each}}
			{{/ifEquals}}

			{{#ifEquals type "radio"}}
				{{#each properties.choices}}
					<input type="radio" name="{{../slug}}" value="{{this}}" {{#ifEquals this ../value}}checked{{/ifEquals}}> {{@key}}<br>
				{{/each}}
			{{/ifEquals}}

			{{#ifEquals type "image"}}
				<input type="file" name="{{slug}}" accept="image/gif,image/jpeg,image/png,.jpg,.jpeg,.png,.gif">
			{{/ifEquals}}
			</p>
		{{/each}}

		<p class="submit"><input type="submit" value="Save"></p>
	</form>
</section>