<section class="models-container main-content">
	<h1>{{collectionName}} <a class="new-btn" href="/admin/collections/{{collectionSlug}}/new">New</a>

	<form class="delete-form" action="/admin/schema/delete/{{collectionSlug}}" method="post">
		<input type="hidden" name="_method" value="delete" />
		<input class="delete-btn" type="submit" name="delete" value="Delete">
	</form>
	</h1>

	<ul class="models">
		{{#each data}}
			<a href="/admin/collections/{{../collectionSlug}}/{{_uid}}"><li class="model">
				<span class="model-id">{{_uid}}</span>
				<span class="created-by">Created by: {{_metadata.created_by}}</span>
				<span class="date-created">Date created: {{_metadata.date_created}}</span>
				<span class="date-modified">Last modified: {{_metadata.date_modified}}</span>
			</li></a>
		{{else}}
			<p>No models created yet. Perhaps you want to click <a href="/admin/collections/{{collectionSlug}}/new">here</a> to create a new model?</p>
		{{/each}}
	</ul>
</section>