<section class="model-container main-content">
	<h1>{{collectionName}} - ID: {{_uid}} <a class="edit-btn" href="/admin/collections/{{collectionSlug}}/{{_uid}}/edit">Edit</a>

	<form class="delete-form" action="/admin/collections/{{collectionSlug}}/{{_uid}}" method="post">
		<input type="hidden" name="_method" value="delete" />
		<input class="delete-btn" type="submit" name="delete" value="Delete">
	</form>
	</h1>

	<article class="model">
		{{#each fields}}
			<div class="field">
				<h3 class="field-name">{{this.name}}</h3>
				<div class="field-value">
				{{#ifEquals this.type "wysiwyg"}}
					{{{this.value}}}
				{{/ifEquals}}

				{{#ifEquals this.type "text"}}
					{{this.value}}
				{{/ifEquals}}

				{{#ifEquals this.type "email"}}
					{{this.value}}
				{{/ifEquals}}

				{{#ifEquals this.type "radio"}}
					{{this.value}}
				{{/ifEquals}}

				{{#ifEquals this.type "checkbox"}}
					<ul class="checkbox-value">
					{{#each this.value}}
						<li>{{this}}</li>
					{{/each}}
					</ul>
				{{/ifEquals}}

				{{#ifEquals this.type "image"}}
					<img class="image-value" src="{{../rootURL}}{{this.value}}">
					<br>URL: {{{../rootURL}}}{{{this.value}}}
				{{/ifEquals}}
				</div>
			</div>
		{{/each}}
	</article>
</section>