<section class="user-container main-content">
	<h1>User info</h1>

	<div class="user">
		<h2>{{username}}</h2>

		<ul class="model-list">
			<h3 class="subtitle">Created Models</h3>
		{{#each modelLinks}}
			<li class="user-model card">
				<a class="model-name" href="/admin/collections/{{collectionSlug}}/{{_uid}}">
					<span>Collection: {{collectionName}}</span>
					<span>ID: {{_uid}}</span>
				</a>

				<a class="button edit-btn" href="/admin/collections/{{collectionSlug}}/{{_uid}}/edit">Edit</a>

				<form class="delete-form" action="/admin/collections/{{collectionSlug}}/{{_uid}}" method="post">
					<input type="hidden" name="_method" value="delete" />
					<input class="delete-btn" type="submit" name="delete" value="Delete">
				</form>
			</li>
		{{/each}}
		</ul>

		<form class="edit-role" action="/admin/users/{{username}}" method="post">
			<h3 class="subtitle">Role</h3>
			<select class="user-role" name="user_role">
				<option value="administrator" {{#ifEquals "administrator" role}}selected{{/ifEquals}}>Administrator</option>
				<option value="editor" {{#ifEquals "editor" role}}selected{{/ifEquals}}>Editor</option>
				<option value="author" {{#ifEquals "author" role}}selected{{/ifEquals}}>Author</option>
			</select>
			<input type="submit" name="submit" value="Edit Role">
		</form>

		<form class="delete-form" action="/admin/users/{{username}}" method="post">
			<input type="hidden" name="_method" value="delete" />
			<input class="delete-btn" type="submit" name="delete" value="Delete User">
		</form>
	</div>
</section>